.app__menu {
	/*visibility: hidden;*/
	
	position: fixed;
	padding: 0px;
	margin: 0px;
	top: 50px;
	left: 0px;
	height: 100%;
	width: 240px;
	overflow-x: hidden;
	background-color: #ffffff;
	z-index: 1;

	ul {
		list-style: none;
		font-size: 15px;
		padding-left: 0px;
		margin-bottom: 0px;
		padding-right: 5px;
	}
	li {
		cursor: pointer;
		color: black;
		padding-right: 10px;
		
		a {
			display: block;
			color: black;
			margin: 0;			
			text-decoration: none;	
			width: 100%;
			height: 100%;
			/*padding-top: 7px;
		    padding-bottom: 7px;*/

		}

	}
	&-list {
		&-head {
			font-weight: bold;
			padding: 5px 5px 5px 15px;
		}
		&-part {
			padding: 3px 5px 3px 27px
		}
	}

}

.app__menu li:hover {
	background-color: #e5e5e5;
}

.end {
	border-bottom: 1px solid #e5e5e5;
}

.app__footer {
	width: 100%;
	height: 200px;
	background-color: #f9f9f9;
	margin-left: 12px;
	&-links {
		padding-top: 10px;
		padding-bottom: 10px;
	}
	a {
		font-weight: bold;
		font-size: 13px;
		text-decoration: none;
		color: #909090;
	}
	p {
		margin: 0px;
		padding-top: 0px;
	}
	&-copyright {
		margin-top: 0px;
		font-size: 13px;
		color: #909090;
	}
}

::-webkit-scrollbar {
	width: 12px;
	background: #eeeeee;
}
::-webkit-scrollbar-thumb {
	background: #888888;
	-webkit-border-radius: 1ex;
	border:2px solid  #eeeeee;
}
::-webkit-scrollbar-thumb:hover {
	background: #ccc;
	-webkit-border-radius: 1ex;
	border:2px solid  #eeeeee;
}

.app__menu-top {
	display: flex;
	justify-content: space-between;
	position: fixed;
	background-color: white;
	width: 100%;
	height: 50px;
	border-bottom: 1px solid #e5e5e5;
	z-index: 1;
	&_right {
		display: flex;
		flex-direction: row;
		align-items: center;
		margin-left: 15px;
		&-burger {
			margin-top: 5px;
			&-icon {
				margin-right: 0px;


			}
		}
		&-description {
			display: flex;
			flex-direction: row;
			align-items: center;
			margin-left: 0px;
		}
	}
	&_left {
		display: flex;
		flex-direction: row;
		align-items: center;
		margin-right: 20px;
	}
}









